body {
  height: 100%;
  color: #f00;
}
.target {
  width: 500px;
  height: 200px;
  background: #dadada;
}
.nghm_element .nghm_message_wrap {
  display: none;
}
.nghm_element:hover .nghm_message_wrap {
  display: block;
  width: inherit;
  height: inherit;
  background: rgba(153,153,170,0.314);
  position: relative;
  top: -5px;
  left: -5px;
  border: dashed rgba(0,0,0,0.314) 5px;
}
.nghm_element:hover .nghm_message_wrap p {
  width: inherit;
  height: inherit;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
